/***********************************
{Roots}
************************************/

/*Dark-Theme*/
:root {
  --Main-Color: rgb(0, 0, 0);
  --Basic-Color: rgb(252, 252, 252);
  --Red-Color: rgb(255, 69, 58);
  --Orange-Color: rgb(255, 159, 10);
  --Yellow-Color: rgb(255, 214, 10);
  --Green-Color: rgb(48, 209, 88);
  --Mint-Color: rgb(99, 230, 226);
  --Teal-Color: rgb(64, 200, 224);
  --Cyan-Color: rgb(100, 210, 255);
  --Blue-Color: rgb(10, 132, 255);
  --Indigo-Color: rgb(94, 92, 230);
  --Purple-Color: rgb(191, 90, 242);
  --Pink-Color: rgb(255, 55, 95);
  --Brown-Color: rgb(172, 142, 104);
  --Gray-Color: rgb(28, 28, 30);
  --Ash-Color: rgb(242, 242, 247);
  --Back-Drop-White: rgb(255, 255, 255, 0.1);
  --Back-Drop-Black: rgb(0, 0, 0, 0.1);
  --Ps-Red: rgb(246 4 1);
  --Ps-Teal: rgb(0 96 95);
  --Ps-Gold: rgb(203 185 143);
}

/*Light-Theme*/
.Light-Theme {
  --Main-Color: rgb(252, 252, 252);
  --Basic-Color: rgb(0, 0, 0);
  --Ps-Red: rgb(255, 59, 48);
  --Orange-Color: rgb(255, 149, 0);
  --Yellow-Color: rgb(255, 204, 0);
  --Green-Color: rgb(52, 199, 89);
  --Mint-Color: rgb(0, 199, 190);
  --Teal-Color: rgb(48, 176, 199);
  --Cyan-Color: rgb(50, 173, 220);
  --Blue-Color: rgb(0, 122, 255);
  --Indigo-Color: rgb(88, 86, 214);
  --Purple-Color: rgb(175, 82, 222);
  --Pink-Color: rgb(255, 45, 85);
  --Brown-Color: rgb(162, 132, 94);
  --Gray-Color: rgb(242, 242, 247);
  --Ash-Color: rgb(28, 28, 30);
  --Back-Drop-White: rgb(0, 0, 0, 0.1);
  --Back-Drop-Black: rgb(255, 255, 255, 0.1);

}

* {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Main-Color);
  min-height: 100vh;

}

.card {
  height: auto;
  width: 700px;
  display: flex;
  flex-direction: column;
  margin: 50px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  /*background-color: var(--Back-Drop-White);*/
}

.card .headcard {
  width: 700px;
  height: auto;
  background-color: var(--Back-Drop-White);
  border: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .headcard .banner {
  border: none;
  border-radius: 30px;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.card .headcard .banner img {
  padding-top: 15px;
  height: 95%;
  width: 95%;
  border: none;
  border-radius: 30px;
}

.card .headcard .profile {
  padding-top: 15px;
  padding: 15px;
  border: none;
  border-radius: 30px;
  width: auto;
  height: auto;

  display: flex;
}

.card .headcard .profile img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.card .headcard .profile .namehandle {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-left: 15px;
}

.card .headcard .profile .namehandle h2 {
  font-size: 2.5rem;
  color: var(--Basic-Color);
  margin-bottom: 0;
}

.card .headcard .profile .namehandle ul {
  margin: 0;
  padding: 0;
  margin-left: 0px;
}

.card .headcard .profile .namehandle ul a {
  text-decoration: none;
  color: var(--Basic-Color);
  font-size: 1.2rem;
}

.card .headcard .profile .namehandle ul a:hover {
  color: var(--Blue-Color);
}


.card .headcard .profile .namehandle .verified-icon {
  color: var(--Blue-Color);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  color: var(--Blue-Color);
}

.card .midcard {
  height: auto;
  width: 700px;
  margin-top: 30px;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .midcard img {
  width: auto;
  height: auto;
}

.card .midcard .intro {
  background-color: var(--Back-Drop-White);
  backdrop-filter: blur(10px);
  height: auto;
  width: 95%;
  border-radius: 30px;
  border: none;
  display: flex;
  flex-direction: column;
}

.card .midcard .intro h2 {
  font-size: 1.2rem;
  color: var(--Ps-Red);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.card .midcard .intro p {
  font-size: 1rem;
  color: var(--Basic-Color);
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.card .midcard2 {
  height: auto;
  width: 700px;
  background-image: url(images/nsgvoidroom.jpeg);
  background-position: center;
  background-size: cover;
  margin-top: 30px;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .midcard2 .work {
  height: 95%;
  width: 95%;
  background-color: var(--Back-Drop-White);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  border: none;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card .midcard2 .work h2 {
  font-size: 1.2rem;
  color: var(--Ps-Red);
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.card .midcard2 .work p {
  font-size: 1rem;
  color: var(--Basic-Color);
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.card .midcard2 .work ul li a {
  text-decoration: none;
  color: var(--Ps-Gold);
  font-size: 1rem;
  margin-top: 5px;
  margin: 0;
}

.card .midcard2 .work ul li a:hover {
  color: var(--Blue-Color);
}

.card .midcard2 .work ul li span {
  color: var(--Ps-Red);
}

.card .midcard3 {
  height: auto;
  width: 700px;
  /* background-color: var(--Back-Drop-White); */
  margin-top: 30px;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .midcard3 .footcard {
  height: 95%;
  width: 95%;
  background-color: var(--Back-Drop-White);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  border: none;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card .midcard3 img {
  width: auto;
  height: auto;
  transform: scaleX(-1);
}

.card .midcard3 .footcard {
  background-color: var(--Back-Drop-White);
  backdrop-filter: blur(10px);
  height: auto;
  width: 85%;
  border-radius: 30px;
  border: none;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.card .midcard3 .footcard h2 {
  font-size: 1.2rem;
  color: var(--Ps-Red);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.card .midcard3 .footcard p {
  font-size: 1rem;
  color: var(--Basic-Color);
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.card .midcard3 .footcard ul li a {
  text-decoration: none;
  color: var(--Ps-Gold);
  font-size: 1rem;
  margin-top: 5px;
  margin: 0;
}

.card .midcard3 .footcard ul li a:hover {
  color: var(--Blue-Color);
}

.card .midcard3 .footcard ul li span {
  color: var(--Ps-Red);
}

.card .midcard3 .footcard ul li i {
  color: var(--Ps-Gold);
  margin-right: 10px;
  font-size: 20px;
}

.card .midcard3 .footcard .subfoot {
  background-color: var(--Ps-Red);
  backdrop-filter: blur(10px);
  height: auto;
  width: 100%;
  border-radius: 30px;
  border: none;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.card .midcard3 .footcard .subfoot h2 {
  font-size: 1.2rem;
  color: var(--Basic-Color);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.card .midcard3 .footcard .subfoot p {
  font-size: 1rem;
  color: var(--Basic-Color);
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.card .midcard3 .footcard .subfoot h2 i {
  font-size: 24px;
  color: var(--Basic-Color);
  margin-left: 10px;
}

.card .midcard3 .footcard .subfoot p i {
  font-size: 24px;
  color: var(--Basic-Color);
  margin-left: 10px;
}

/* For screens smaller than 768px (e.g., mobile phones) */
@media only screen and (max-width: 767px) {
  .card {
    width: 100%;
    margin: 20px 0;
  }

  .card .headcard,
  .card .midcard,
  .card .midcard2,
  .card .midcard3 {
    width: 100%;
  }

  .card .headcard .banner img {
    border-radius: 30px;
    width: 95%;
    height: auto;
  }

  .card .headcard .profile img {
    width: 80px;
    height: 80px;
  }

  .card .headcard .profile .namehandle h2 {
    font-size: 1.8rem;
  }

  .card .midcard .intro h2,
  .card .midcard2 .work h2,
  .card .midcard3 .footcard h2 {
    font-size: 1.1rem;
  }

  .card .midcard .intro p,
  .card .midcard2 .work p,
  .card .midcard3 .footcard p {
    font-size: 0.9rem;
  }

  .card .midcard2 .work ul li a,
  .card .midcard3 .footcard ul li a {
    font-size: 0.9rem;
  }
}

/* For screens smaller than 768px (e.g., mobile phones) */
@media only screen and (max-width: 767px) {
  .card .midcard {
    position: relative;
    overflow: hidden;
    /* Hide any content that overflows its container */
  }

  .card .midcard img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Make sure the image covers the entire container width */
    height: auto;
    /* Maintain aspect ratio */
    z-index: -1;
  }

  .card .midcard .intro {
    position: relative;
    z-index: 1;
    background-color: transparent;
  }
}

/* For screens smaller than 768px (e.g., mobile phones) */
@media only screen and (max-width: 767px) {
  .card .midcard3 {
    position: relative;
    overflow: hidden;
    /* Hide any content that overflows its container */
  }

  .card .midcard3 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Make sure the image covers the entire container width */
    height: auto;
    /* Maintain aspect ratio */
    z-index: -1;
    transform: scaleX(-1);
    /* Flip the image horizontally */
  }

  .card .midcard3 .footcard {
    position: relative;
    z-index: 1;
    background-color: transparent;
  }
}

@media only screen and (max-width: 767px) {

  /* Apply smooth transition to midcard */
  .card .midcard {
    transition: all 0.5s ease;
    /* Adjust the duration and easing function as needed */
  }

  /* Apply smooth transition to midcard2 */
  .card .midcard2 {
    transition: all 0.5s ease;
    /* Adjust the duration and easing function as needed */
  }

  /* Apply smooth transition to midcard3 */
  .card .midcard3 {
    transition: all 0.5s ease;
    /* Adjust the duration and easing function as needed */
  }
}

/* Animation Function */

/* Apply initial opacity for elements */
.card,
.midcard,
.midcard2,
.midcard3 {
  opacity: 0;
}

/* Apply smooth transition to the opacity property */
.card,
.midcard,
.midcard2,
.midcard3 {
  transition: opacity 0.5s ease-in-out;
  ;
}

/* Add loaded class to reveal elements */
.card.loaded,
.midcard.loaded,
.midcard2.loaded,
.midcard3.loaded {
  opacity: 1;
}